@model Nabeghe.Domain.ViewModels.NewsLetter.CreateNewsLetterViewModel
<div class="space-y-5">
    <div class="flex items-center gap-3">
        <div class="flex items-center gap-1">
            <div class="w-1 h-1 bg-foreground rounded-full"></div>
            <div class="w-2 h-2 bg-foreground rounded-full"></div>
        </div>
        <div class="font-black text-foreground">خبرنامه</div>
    </div>
    <p class="text-sm text-muted">
        برای اطلاع از جدیدترین اخبار و جشنوراه‌های تخفیفی نابغه ایمیل خود
        را وارد کنید.
    </p>
    <form asp-controller="NewsLetter" asp-action="NewsLetter">
        <div class="flex items-center gap-3 relative">
            <span class="absolute right-3 text-muted">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                     fill="currentColor" class="w-5 h-5">
                    <path d="M3 4a2 2 0 0 0-2 2v1.161l8.441 4.221a1.25 1.25 0 0 0 1.118 0L19 7.162V6a2 2 0 0 0-2-2H3Z">
                    </path>
                    <path d="m19 8.839-7.77 3.885a2.75 2.75 0 0 1-2.46 0L1 8.839V14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V8.839Z">
                    </path>
                </svg>
            </span>
            <input asp-for="Email" type="email"
                   class="form-input w-full h-11 !ring-0 !ring-offset-0 bg-secondary border-0 focus:border-border rounded-xl text-sm text-foreground pr-10"
                   placeholder="آدرس ایمیل" required />
            <button type="submit"
                    class="h-11 inline-flex items-center justify-center gap-3 bg-primary rounded-xl whitespace-nowrap text-xs text-primary-foreground transition-all hover:opacity-80 px-4">
                ثبت
                ایمیل
            </button>
        </div>
    </form>
</div>