@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Nabeghe.Domain.ViewModels.CourseCategory
@model CreateCourseCategoryViewModel
@{
	ViewData["Title"] = "افزودن دسته بندی";

	var parentCategories = ViewData["ParentCategories"] as List<CourseCategoryViewModel>?? new List<CourseCategoryViewModel>();

	var parentItems = new SelectList(parentCategories, "Id", "Title");
}
<form method="post" enctype="multipart/form-data">
	<input class="form-control mb-3" asp-for="Title" placeholder="عنوان" aria-label="default input example">
	<p>
		<span asp-validation-for="Title" class="text-danger"></span>
	</p>

	<div class="form-group">
		<label asp-for="ParentId" class="control-label"></label>
		<select asp-for="ParentId" asp-items="parentItems" class="form-control">
			<option value="">انتخاب کنید ...</option>
		</select>
		<span asp-validation-for="ParentId" class="text-danger"></span>
	</div>

	<button type="submit" class="btn btn-outline-success px-5 mb-3">افزودن</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
