@model List<Nabeghe.Domain.Models.CourseCategory.CourseCategory>
@if (Model != null && Model.Any())
{
	<div class="relative group/categories">
		<a href="javascript:void(0)"
		   class="inline-flex items-center gap-1 text-muted transition-colors hover:text-foreground">
			<span class="font-semibold text-sm">دسته بندی آمـــوزشها</span>
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
				 stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
				<path stroke-linecap="round" stroke-linejoin="round"
					  d="m19.5 8.25-7.5 7.5-7.5-7.5" />
			</svg>
		</a>
		<div class="absolute right-0 top-full opacity-0 invisible transition-all group-hover/categories:opacity-100 group-hover/categories:visible pt-5 z-10">
			<ul class="flex flex-col relative w-56 min-h-[300px] bg-background border border-border shadow-2xl shadow-black/5">

				@foreach (var category in Model.Where(c => c.ParentId == null))
				{
					<li class="group">
						<a asp-controller="course" asp-action="List" asp-route-CategoryId="@category.Id"
						   class="flex items-center relative text-foreground transition-colors hover:text-primary p-3">
							<span class="font-semibold text-sm">@category.Title</span>
							<span class="absolute left-3">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
									 stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
									<path stroke-linecap="round" stroke-linejoin="round"
										  d="M15.75 19.5 8.25 12l7.5-7.5" />
								</svg>
							</span>
						</a>
						@if (Model.Any(c => c.ParentId == category.Id))
						{
							<ul class="absolute -top-px -bottom-px right-full flex flex-wrap flex-col w-96 bg-background border border-border shadow-2xl shadow-black/5 space-y-3 opacity-0 invisible group-hover:opacity-100 group-hover:visible px-3 pt-8 pb-3">
								<li class="absolute top-2">
									<span class="font-bold text-sm text-muted cursor-default">
										محبوب ترین
										موضوعات
									</span>
								</li>
								@foreach (var subCategory in Model.Where(c => c.ParentId == category.Id))
								{
									<li class="w-1/2">
										<a asp-controller="course" asp-action="List" asp-route-CategoryId="@subCategory.Id"
										   class="flex items-center gap-2 text-muted before:content-[''] before:inline-block before:w-1 before:h-1 before:bg-border before:rounded-full transition-colors hover:text-primary hover:before:bg-primary">
											<span class="font-semibold text-sm">@subCategory.Title</span>
										</a>
									</li>

								}
							</ul>

						}
					</li>
				}
			</ul>
		</div>
	</div>
}