@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Nabeghe.Application.Extensions
@model Nabeghe.Domain.ViewModels.Blog.AdminEditBlogViewModel

@{
	ViewData["Title"] = "ویرایش مقاله";
}
<form method="post" enctype="multipart/form-data">
	<input type="hidden" asp-for="AuthorId" />
	<input type="hidden" asp-for="BlogImageName" />
	<div class="mb-4">
		<label for="Product_ProductName" class="form-label">عنوان مقاله</label>
		<input class="form-control mb-3" asp-for="BlogTitle" placeholder="عنوان مقاله" aria-label="default input example">
		<span class="text text-danger" asp-validation-for="BlogTitle"></span>
	</div>
	<div class="mb-4">
		<label for="Product_ProductDescription" class="form-label">توضيح مقاله</label>
		<textarea class="form-control mb-3" asp-for="BlogDescription" placeholder="توضيح مقاله" aria-label="default input example"></textarea>
		<span class="text text-danger" asp-validation-for="BlogDescription"></span>
	</div>

	<div class="mb-3">
		<label for="file" class="form-label">تصوير مقاله</label>
		<input class="form-control" type="file" id="avatar" asp-for="BlogImage" />
		<span class="text text-danger" asp-validation-for="BlogImage"></span>
	</div>
	<button type="submit" class="btn btn-outline-warning px-5 mb-3">ویرایش</button>
</form>

@section Scripts {
	<script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
	<script>

		CKEDITOR.replace('BlogDescription', {
            customConfig: '/js/site.js'
        });
   
    </script>
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}