<div class="flex flex-col items-center justify-center">
	<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-muted">
		<path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z">
		</path>
	</svg>
	<p class="font-semibold text-sm text-muted mt-3 mb-8">
		هیچ نتیجه ای یافت نشد!
	</p>
	<img src="/assets/images/theme/empty.svg" class="max-w-xs opacity-35" alt="">
</div>