@using Nabeghe.Application.Convertor
@model Nabeghe.Web.Models.CourseStatus.CourseStatusViewModel
@{
	ViewData["Title"] = "افزودن وضعیت دوره";
}
<form method="post">
	<div class="col-12">
		<label  class="form-label">عنوان وضعیت</label>
		<input readonly="readonly" class="form-control mb-3" asp-for="StatusTitle" placeholder="عنوان وضعیت" aria-label="default input example">
		<span class="text text-danger" asp-validation-for="StatusTitle"></span>
	</div>
	<div class="col-12">
		<label  class="form-label">تاریخ ایجاد</label>
		<input readonly="readonly" class="form-control mb-3" asp-for="CreateDate.Toshamsi()" placeholder="تاریخ ایجاد" aria-label="default input example">
		<span class="text text-danger" asp-validation-for="CreateDate.Toshamsi()"></span>
	</div>
	<button type="submit" class="btn btn-outline-primary px-5 mb-3">بازگشت</button>
</form>